/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html,
body {
  max-width: 480px;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  html,
  body {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  html,
  body {
    min-width: 1200px;
    max-width: 1600px;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-header {
    min-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    min-height: 80px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 16px 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .logo {
    margin: 0px;
  }
}

.logo--blue {
  color: #2196f3;
}

.logo--black {
  color: #212121;
}

.nav-list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0px;
  margin-left: 93px;
  padding: 0px;
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list__link--current {
    color: #2196f3;
    position: relative;
  }
  .nav-list__link--current::after {
    position: absolute;
    display: block;
    content: " ";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    opacity: 0;
  }
  .nav-list__link--current::after {
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:first-child {
    margin-left: 0px;
  }
  .nav-list__link {
    display: block;
    text-decoration: none;
    padding: 32px 0px 32px 0px;
    margin: 0px 50px 0px 50px;
    color: #212121;
  }
  .nav-list__link--aim:hover, .nav-list__link--aim:focus {
    color: #2196f3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .nav-list__link--current {
    color: #2196f3;
    position: relative;
  }
  .nav-list__link--current::after {
    position: absolute;
    display: block;
    content: " ";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    opacity: 0;
  }
  .nav-list__link--current::after {
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__item:last-child {
    margin-right: 181px;
  }
  .nav-list__link:first-child {
    margin-left: 0px;
  }
  .nav-list__link {
    display: block;
    text-decoration: none;
    padding: 32px 0px 32px 0px;
    margin: 0px 50px 0px 50px;
    color: #212121;
  }
  .nav-list__link--aim:hover, .nav-list__link--aim:focus {
    color: #2196f3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0px;
  padding: 0px;
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    margin-top: 21px;
    margin-bottom: 10px;
  }
  .contact__link:last-child {
    margin-top: 0px;
    margin-bottom: 21px;
  }
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #757575;
  }
  .contact__item--aim:hover, .contact__item--aim:focus {
    color: #2196f3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    fill: #757575;
  }
  .contact__item--aim:hover .contact__img {
    fill: #2196f3;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .contact__link:first-child {
    padding-right: 50px;
  }
  .contact__item {
    list-style: none;
    text-decoration: none;
    color: #757575;
  }
  .contact__item--aim:hover, .contact__item--aim:focus {
    color: #2196f3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    fill: #757575;
  }
  .contact__item--aim:hover .contact__img {
    fill: #2196f3;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-menu-button {
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 15px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-menu-button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu-button {
    display: none;
  }
}

.header-menu__img {
  fill: black;
}

.header-menu-button-fill:hover .header-menu__img {
  fill: #2196f3;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/hero-img-m.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/hero-img-m.jpg);
  width: auto;
  height: 400px;
  background-size: auto 400px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(/img/hero/hero-img-m@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/hero-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(/img/hero/hero-img-m@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero/hero-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/hero-img.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(/img/hero/hero-img@2x.jpg);
  }
}

.hero-section {
  display: block;
  padding-bottom: 118px;
}

.hero-section__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-top: 118px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-section__title {
    padding-right: 170px;
    padding-left: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    padding-bottom: 30px;
    padding-left: 272px;
    padding-right: 272px;
  }
}

.hero-section__button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  color: white;
  padding: 10px 32px 10px 32px;
  max-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-bottom: 200px;
  }
}

.features__title {
  display: none;
}

.features__list {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.features__item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 2 - 60px);
        flex-basis: calc(100% / 2 - 60px);
    margin-left: 30px;
    padding-top: 30px;
  }
  .features__item:nth-child(2n+1) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
  .features__item:nth-last-child(n+1) {
    margin-left: 30px;
  }
  .features__item:first-child {
    margin-left: 0px;
  }
}

.features__icon {
  margin-bottom: 30px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}

.features__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__subtitle {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .features__subtitle {
    display: block;
  }
}

.features__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: #757575;
  display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__text {
    width: 354px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .features__text {
    display: inline;
  }
}

.doing {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .doing {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .doing__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 50px;
  }
  .doing__list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .doing__img {
    position: relative;
  }
  .doing__img:nth-last-child(n+1) {
    margin-left: 30px;
  }
  .doing__img:first-child {
    margin-left: 0px;
  }
  .doing__text {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.card__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    -ms-flex-preferred-size: calc(100% / 2 - 60px);
        flex-basis: calc(100% / 2 - 60px);
    margin-left: 30px;
  }
  .card__item:nth-child(2n+1) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .card__item {
    margin-bottom: 0px;
  }
  .card__item:nth-last-child(n+1) {
    margin-left: 30px;
  }
  .card__item:first-child {
    margin-left: 0px;
  }
}

.card__img {
  display: block;
  width: 450px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 30px;
  }
}

.card__content,
.card__img {
  background-color: #fff;
}

.card__name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .card__name {
    padding-top: 0px;
  }
}

.card__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 16px;
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  padding-bottom: 30px;
}

.social__item:nth-last-child(n+1) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  fill: #afb1b8;
}

.social__link--aim:hover {
  fill: #fff;
  background-color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .customers__title {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .customers__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 94px;
  }
}

.customers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc(100% / 2 - 40px);
      flex-basis: calc(100% / 2 - 40px);
  width: 210px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__item {
    width: 226px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  .customers__item:nth-child(3n+1) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    margin-left: 30px;
  }
  .customers__item:first-child {
    margin-left: 0px;
  }
  .customers__item--aim:hover {
    border: 1px solid #2196f3;
    border-radius: 4px;
    -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.customers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-bottom: 30px;
}

.customers__item--aim:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 90px;
  fill: #afb1b8;
}

.customers__link--aim:hover {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .all-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .all-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo--white {
  color: white;
}

.logo-footer {
  padding: 60px 163px 20px 163px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-footer {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 115px;
  }
}

@media (min-width: 1200px) {
  .logo-footer {
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    width: 232px;
    height: 79px;
    margin-left: 76px;
  }
}

@media (min-width: 1200px) {
  .address {
    white-space: nowrap;
    margin-bottom: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.address__text {
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__text {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address__text {
    padding-bottom: 9px;
  }
}

.address__item {
  color: #757575;
}

.address__item--aim:hover, .address__item--aim:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__item {
    padding-bottom: 8px;
  }
  .address__item:last-child {
    padding-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .address__item:last-child {
    display: inline;
    margin-top: 9px;
    margin-bottom: 60px;
  }
}

.footer-social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    padding-top: 65px;
    margin-right: 89px;
    width: 206px;
    height: 80px;
  }
}

@media (min-width: 1200px) {
  .footer-social {
    margin-top: 72px;
    margin-bottom: 100px;
    margin-left: 30px;
  }
}

.footer-social__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  padding-bottom: 20px;
  margin-left: 167px;
  margin-right: 167px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social__title {
    margin-left: 40px;
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .footer-social__title {
    margin-left: 50px;
    margin-right: 154px;
  }
}

.footer-social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-social__list {
    padding: 0px;
  }
}

.footer-social__item:nth-last-child(n+1) {
  margin-right: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
}

.footer-social__link--aim:hover {
  fill: #fff;
  background-color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .newsletter {
    padding-bottom: 0px;
    margin-bottom: 94px;
    margin-top: 72px;
  }
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .newsletter__form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.newsletter__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  padding-bottom: 20px;
}

.newsletter__items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .newsletter__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.newsletter__input {
  padding: 0px;
  width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
  }
}

.newsletter__button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: solid 1px #2196f3;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1200px) {
  .newsletter__button {
    width: 200px;
    margin-top: 0px;
    margin-left: 12px;
  }
}

.newsletter__img {
  margin-left: 10px;
}

.portfolio {
  background-color: white;
}

.portfolio__title {
  display: none;
}

.filter-list {
  padding-top: 60px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 88px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
}

.filter-list__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-list__item {
    display: block;
    margin-left: 8px;
  }
  .filter-list__item .filter-list__item:first-child {
    margin-left: 0px;
  }
}

.button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: #f5f4fa;
  color: #212121;
  outline: none;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.button--hue:hover, .button--hue:focus {
  background-color: #2196f3;
  color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__title {
  display: none;
}

.project__name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.project__list {
  margin: 0px;
  padding: 0px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.project__item {
  margin-bottom: 30px;
  position: relative;
}

.project__item--frame:hover {
  background: #FFFFFF;
  outline: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
  }
}

.project__img {
  display: block;
  width: 450px;
}

.project__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project__thumb {
  position: relative;
  cursor: pointer;
}

.project-hover {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  width: 100%;
  height: 357px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-hover {
    height: 281px;
  }
}

.project-hover__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
  display: block;
  content: " ";
  padding: 63px 24px;
  max-width: 100%;
  height: 357px;
  position: absolute;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-hover--text-flow:hover .project-hover__text {
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__thumb--text-flow:hover .project-hover__text {
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-hover__text {
    height: 281px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__x {
  fill: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__button--fill:hover .modal__x {
  fill: #2196f3;
}

.modal__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1,15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  padding-bottom: 12px;
}

.modal__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form-name__label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1,2;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.form-name__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-name__input--target:focus {
  border: 1px solid #2196f3;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name__img {
  position: absolute;
  top: 65%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-name__input--target:focus ~ .form-name__img {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  position: relative;
}

.form-tel__label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1,2;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.form-tel__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-tel__input--target:focus {
  border: 1px solid #2196f3;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-tel__img {
  position: absolute;
  top: 70%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-tel__input--target:focus ~ .form-tel__img {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  position: relative;
}

.form-mail__label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1,2;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.form-mail__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-mail__input--target:focus {
  border: 1px solid #2196f3;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-mail__img {
  position: absolute;
  top: 70%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-mail__input--target:focus ~ .form-mail__img {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  position: relative;
}

.form-textarea__label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1,2;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.form-textarea__ta {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}

.form-textarea__ta--target:focus {
  padding: 12px 16px;
  border: 1px solid #2196f3;
  outline: none;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea__ta--target::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  padding-top: 20px;
  padding-left: 12px;
  position: relative;
}

.form-checkbox__label {
  display: inline;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox__input {
  display: inline-block;
  -webkit-appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  outline: none;
}

.form-checkbox__input--custom-check:checked {
  border: 2px solid #2196f3;
  border-radius: 2px;
  background-origin: border-box;
}

.form-checkbox__img {
  display: none;
  position: absolute;
  width: 16px;
  height: 15px;
  left: 12px;
  top: 20px;
}

.form-checkbox__input--custom-check:checked + .form-checkbox__img {
  outline: none;
  display: inline-block;
  background-color: #2196f3;
  background-origin: border-box;
  border-radius: 2px;
}

.form-checkbox__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
  vertical-align: top;
}

.form-checkbox__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  color: #2196f3;
  vertical-align: top;
}

.button-send {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: solid 1px #2196f3;
  border-radius: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-left: 124px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-mobile-container {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 480px;
  height: 796px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.menu-mobile-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__button {
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__x {
  fill: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__button:hover .header__x {
  fill: #2196f3;
}

.menu-mobile-list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 48px;
  margin-left: 40px;
  padding: 0px;
}

.mobile-list__link {
  display: block;
  text-decoration: none;
  margin-bottom: 32px;
  color: #212121;
}

.mobile-list__link--aim:hover, .mobile-list__link--aim:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile__tel {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 302px;
  margin-bottom: 32px;
  margin-left: 40px;
  color: #2196f3;
}

.menu-mobile__mail {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  margin-left: 40px;
  color: #757575;
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-right: 83px;
  margin-bottom: 48px;
  margin-left: 40px;
  padding-left: 0px;
}

.social-menu__item {
  padding-right: 10px;
  border-right: 1px solid #757575;
}

.social-menu__item:last-child {
  padding-right: 0px;
  border-right: none;
}

.social-menu__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media (min-width: 767px) {
  .header-menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */