.features__title {
    display: none;
}

.features__list {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 0px;
    
    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        // width: 768px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        // margin-left: -45px;
    }
}

.features__item {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text;  

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        flex-basis: calc(100% / 2 - 60px);
        margin-left: 30px;
        padding-top: 30px;

        &:nth-child(2n+1) {
            margin-left: 0px;
        }
    }
}

.features__icon {
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 244, 250, 1);
}

.features__subtitle {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        display: block;
    }
}

.features__text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: $link-text;
    display: inline-block;

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        width: 354px;
        height: 75px;
    }

}