.footer {
    background-color: $section;
}

@media screen and (min-width:$tablet) and (max-width: 1199px) {
    .all-footer {
        display: flex;
        flex-wrap: wrap;
    }
}

.logo--white {
    color: $second-text;
}

.logo-footer {
    padding: 60px 163px 20px 163px;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 115px;
    }
}

.address {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        width: 232px;
        height: 79px;
        margin-left: 76px;
    }
}

.address__text {
    color: $second-text;

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        padding-bottom: 8px;
    }
}

.address__item {
    color: $link-text;
   
    &--aim:hover,
    &--aim:focus {
        color: $hover-text;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        padding-bottom: 8px;
        
        &:last-child {
            padding-bottom: 0px;
        }
    }
}


.footer-social {
    justify-content: center;
    align-items: center;

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        padding-top: 65px;
        margin-right: 89px;
        width: 206px;
        height: 80px;
    }
}

.footer-social__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $second-text;
    padding-bottom: 20px;
    margin-left: 167px;
    margin-right: 167px;

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        margin-left: 40px;
        margin-right: 0px;
    }
}

.footer-social__list {
    list-style: none;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.footer-social__item:nth-last-child(n+1) {
    margin-right: 10px;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $second-text;

    &--aim:hover {
        fill: #fff;
        background-color: $hover-text;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;

    @media screen and (min-width:$tablet) and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.newsletter__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $second-text;
    padding-bottom: 20px;
}

.newsletter__items {
    justify-content: center;
    align-items: center;
}

.newsletter__input {
    padding: 0px;
    width: 450px;
    height: 50px;
    padding-left: 16px;
    background-color: $section;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.newsletter__button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: solid 1px $hover-text;
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $second-text;
    background-color: $hover-text;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.newsletter__img {
    margin-left: 10px;
}
