.header {
    background-color: $second-text;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width:$tablet) and (max-width: $desktop) {
        min-height: 80px;
    }
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 16px 0;

    @media (min-width: $tablet)  and (max-width: $desktop) {
        margin: 0;
    }
}

.logo--blue {
    color: $hover-text;
}

.logo--black {
    color: $main-text;
}

.nav-list {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0px;
    margin-left: 93px;
    padding: 0px;
    display: none;

    @media screen and (min-width:$tablet) and (max-width: $desktop) {
        display: flex;
    }
}

@media screen and (min-width:$tablet) and (max-width: $desktop) {
    .nav-list__link--current {
        color: $hover-text;
        position: relative;
    
        &::after {
            position: absolute;
            display: block;
            content: " ";
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            background-color: $hover-text;
            border-radius: 2px;
            opacity: 0;
        }
        
        &::after {
            opacity: 1;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
    // .nav-list__item:last-child {
    //     margin-right: 181px;
    // }
    
    .nav-list__link:first-child {
        margin-left: 0px;
    }
    
    .nav-list__link {
        display: block;
        text-decoration: none;
        padding: 32px 0px 32px 0px;
        margin: 0px 50px 0px 50px;
        color: $main-text;
    
        &--aim:hover,
        &--aim:focus {
            color: $hover-text;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 
    }
}

.contact {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0px;
    padding: 0px;
    display: none;

    @media screen and (min-width:$tablet) and (max-width: $desktop) {
        display: block;
    }
}

@media screen and (min-width:$tablet) and (max-width: $desktop) {    
    .contact__link {
        margin-top: 21px;
        margin-bottom: 10px;
    }

    .contact__link:last-child {
        margin-top: 0px;
        margin-bottom: 21px;
    }

    .contact__item {
        display: flex;
        list-style: none;
        text-decoration: none;
        color: $link-text;
    
        &--aim:hover,
        &--aim:focus {
            color: $hover-text;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
    .contact__img {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        fill: rgba(117, 117, 117, 1);
    
        .contact__item--aim:hover & {
            fill: $hover-text;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    }
}

.header-menu-button {
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 15px;
    border: 1px solid $second-text;
    background-color: $second-text;
    cursor: pointer;
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    @media screen and (min-width:$tablet) and (max-width: $desktop) {
        display: none;
    }
}

.header-menu__img {
    fill: rgba(0, 0, 0, 1);

    .header-menu-button-fill:hover & {
        fill: $hover-text;
    }
}
