html,
body {
    max-width: auto;
    margin: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 450px;

    @media screen and (min-width: $tablet) {
        width: 690px;
    }

    @media screen and (min-width: $desktop) {
        width: 1170px;
    }
}